body{
    margin: 0;
}
/*  */
main{
    width: 60vw;
    margin: auto;
}
main .topics{
    width: 100%;
    position: relative;
    margin: 2px 0; 
}

main .topics img{
    width: 100%;
}
main .topics .text-intro{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255, 0.2);
}
